name: Publish

on:
  push:
    tags: [ 'v*' ]
    branches: [ main ]

jobs:
  publish:
    runs-on: macos-latest
    env:
      ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ORG_GRADLE_PROJECT_signingInMemoryKey }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.ORG_GRADLE_PROJECT_signingInMemoryKeyPassword }}
      ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.ORG_GRADLE_PROJECT_mavenCentralPassword }}
      ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.ORG_GRADLE_PROJECT_mavenCentralUsername }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-java@ead9eaa3cfe0b0fc2fa749519ae09c3d4f4080b0
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
      - name: Cache Build files
        uses: actions/cache@638ed79f9dc94c1de1baef91bcab5edaa19451f4
        if: ${{ !startsWith(matrix.os, 'windows') }}
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v1
      - name: Publish
        run: ./gradlew clean publishAllPublicationsToMavenCentralRepository

  publish-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          submodules: true
          fetch-depth: 0

      - name: Cache Build files
        uses: actions/cache@638ed79f9dc94c1de1baef91bcab5edaa19451f4
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}

      - name: Configure Git user
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - uses: actions/setup-java@ead9eaa3cfe0b0fc2fa749519ae09c3d4f4080b0
        with:
          distribution: 'zulu'
          java-version: 17

      - uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          architecture: x64
          cache: 'pip'
          cache-dependency-path: 'docs/requirements.txt'

      - name: Install Python dependencies
        run: python3 -m pip install -r ./docs/requirements.txt

      - name: Build KDocs
        run: ./gradlew clean dokkaGeneratePublicationHtml

      - name: Move KDoc build
        run: mv build/dokka/html docs/kdoc

      - name: Deploy with mike (release)
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          VERSION=${GITHUB_REF_NAME#v} mike deploy --update-aliases --push ${{ github.ref_name }} latest

      - name: Deploy with mike (snapshot)
        if: startsWith(github.ref, 'refs/tags/v') == false
        run: |
          mike delete $(mike list | grep '\[dev-snapshot\]' | awk '{printf "%s", $1}') || true
          export SNAPSHOT_VERSION=$(grep "version=" gradle.properties | cut -d '=' -f2)
          VERSION=$SNAPSHOT_VERSION mike deploy --update-aliases --push "v$SNAPSHOT_VERSION" dev-snapshot